In [1]:
### Pandas Basics ###
# link: https://www.youtube.com/watch?v=e60ItwlZTKM

In [2]:
def header(msg):
    print('-'*50)
    print(msg)
    print('-'*50)

In [3]:
header("This will be used to identify parts")

--------------------------------------------------
This will be used to identify parts
--------------------------------------------------

In [4]:
### Important Libraries
import numpy as np
import pandas as pd
#Matplotlib will be added later

In [5]:
### Creating a dataframe (Hard-coding)
mydf = pd.DataFrame(
    [['Ocak', 1,4,5,6,1,32,63],
     ['Subat', 1,23,4,5,67,81,12],
     ['Mart', 1,4,2,6,6,75,5],
     ['Nisan', 1,2,3,45,5,6,1],
     ['Mayis', 4,5,6,7,1,2,3],
     ['Haziran', 1,3,4,5,6,1,2],
     ['Temmuz', 1,4,5,12,3,4,5],
     ['Ağustos', 1,5,4,5,6,7,1],
     ['Eylul', 1,5,3,6,3,6,1],
     ['Ekim', 1,4,2,4,5,6,7],
     ['Kasim', 1,4,5,6,1,2,3],
     ['Aralik', 1,4,5,2,4,56,1]],
    index=[0,1,2,3,4,5,6,7,8,9,10,11],
    columns=['ay', 'avg_high', 'avg_low', 'recordsmt', 'kamil2', 'baskaisim', 'altinci', 'veSon'])

In [6]:
header('I will print the dataset now')
print(mydf)
#print(mydf.head())
#print(mydf.tail())

--------------------------------------------------
I will print the dataset now
--------------------------------------------------
         ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
0      Ocak         1        4          5       6          1       32     63
1     Subat         1       23          4       5         67       81     12
2      Mart         1        4          2       6          6       75      5
3     Nisan         1        2          3      45          5        6      1
4     Mayis         4        5          6       7          1        2      3
5   Haziran         1        3          4       5          6        1      2
6    Temmuz         1        4          5      12          3        4      5
7   Ağustos         1        5          4       5          6        7      1
8     Eylul         1        5          3       6          3        6      1
9      Ekim         1        4          2       4          5        6      7
10    Kasim         1        4          5       6          1        2      3
11   Aralik         1        4          5       2          4       56      1

In [7]:
###Reading dataset from file
#df=pd.read_csv("filename")

In [8]:
header('What are the datatypes?')
print(mydf.dtypes)

header('What are the indexes?')
print(mydf.index)

header('What are the columns?')
print(mydf.columns)

header('What are the values?')
print(mydf.values)

--------------------------------------------------
What are the datatypes?
--------------------------------------------------
ay           object
avg_high      int64
avg_low       int64
recordsmt     int64
kamil2        int64
baskaisim     int64
altinci       int64
veSon         int64
dtype: object
--------------------------------------------------
What are the indexes?
--------------------------------------------------
Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='int64')
--------------------------------------------------
What are the columns?
--------------------------------------------------
Index(['ay', 'avg_high', 'avg_low', 'recordsmt', 'kamil2', 'baskaisim',
       'altinci', 'veSon'],
      dtype='object')
--------------------------------------------------
What are the values?
--------------------------------------------------
[['Ocak' 1 4 5 6 1 32 63]
 ['Subat' 1 23 4 5 67 81 12]
 ['Mart' 1 4 2 6 6 75 5]
 ['Nisan' 1 2 3 45 5 6 1]
 ['Mayis' 4 5 6 7 1 2 3]
 ['Haziran' 1 3 4 5 6 1 2]
 ['Temmuz' 1 4 5 12 3 4 5]
 ['Ağustos' 1 5 4 5 6 7 1]
 ['Eylul' 1 5 3 6 3 6 1]
 ['Ekim' 1 4 2 4 5 6 7]
 ['Kasim' 1 4 5 6 1 2 3]
 ['Aralik' 1 4 5 2 4 56 1]]

In [10]:
##Statistical summary of the dataframe
header("Statistics")
print(mydf.describe().T)

--------------------------------------------------
Statistics
--------------------------------------------------
           count       mean        std  min  25%  50%    75%   max
avg_high    12.0   1.250000   0.866025  1.0  1.0  1.0   1.00   4.0
avg_low     12.0   5.583333   5.550730  2.0  4.0  4.0   5.00  23.0
recordsmt   12.0   4.000000   1.279204  2.0  3.0  4.0   5.00   6.0
kamil2      12.0   9.083333  11.547989  2.0  5.0  6.0   6.25  45.0
baskaisim   12.0   9.000000  18.369936  1.0  2.5  4.5   6.00  67.0
altinci     12.0  23.166667  30.283009  1.0  3.5  6.0  38.00  81.0
veSon       12.0   8.666667  17.416467  1.0  1.0  3.0   5.50  63.0

In [23]:
### Sorting Data
header('We will sort according to avg_low, starting from low and goes to high')
print(mydf.sort_values('avg_low', ascending=True))

--------------------------------------------------
We will sort according to avg_low, starting from low and goes to high
--------------------------------------------------
         ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
3     Nisan         1        2          3      45          5        6      1
5   Haziran         1        3          4       5          6        1      2
0      Ocak         1        4          5       6          1       32     63
2      Mart         1        4          2       6          6       75      5
6    Temmuz         1        4          5      12          3        4      5
9      Ekim         1        4          2       4          5        6      7
10    Kasim         1        4          5       6          1        2      3
11   Aralik         1        4          5       2          4       56      1
4     Mayis         4        5          6       7          1        2      3
7   Ağustos         1        5          4       5          6        7      1
8     Eylul         1        5          3       6          3        6      1
1     Subat         1       23          4       5         67       81     12

In [30]:
### Slicing Columns
header('slicing column, \'avg_low\' ')
print(mydf.avg_low)
header('slicing column, \'avg_low\' second method')
print(mydf['avg_low'])

--------------------------------------------------
slicing column, 'avg_low'
--------------------------------------------------
0      4
1     23
2      4
3      2
4      5
5      3
6      4
7      5
8      5
9      4
10     4
11     4
Name: avg_low, dtype: int64
--------------------------------------------------
slicing column, 'avg_low' second method
--------------------------------------------------
0      4
1     23
2      4
3      2
4      5
5      3
6      4
7      5
8      5
9      4
10     4
11     4
Name: avg_low, dtype: int64

In [38]:
### Slicing two columns
header("Slicing multiple columns")
print(mydf[['avg_low', 'avg_high']])
header("Slicing multiple columns second method")
print(mydf.loc[:,['avg_low', 'avg_high']])
header("Slicing multiple columns with specified rows")
print(mydf.loc[2:3,['avg_low', 'avg_high']])
header("Slicing single row with single column(gets single data)")
print(mydf.loc[3,['avg_low']])

--------------------------------------------------
Slicing multiple columns
--------------------------------------------------
    avg_low  avg_high
0         4         1
1        23         1
2         4         1
3         2         1
4         5         4
5         3         1
6         4         1
7         5         1
8         5         1
9         4         1
10        4         1
11        4         1
--------------------------------------------------
Slicing multiple columns second method
--------------------------------------------------
    avg_low  avg_high
0         4         1
1        23         1
2         4         1
3         2         1
4         5         4
5         3         1
6         4         1
7         5         1
8         5         1
9         4         1
10        4         1
11        4         1
--------------------------------------------------
Slicing multiple columns with specified rows
--------------------------------------------------
   avg_low  avg_high
2        4         1
3        2         1
--------------------------------------------------
Slicing single row with single column(gets single data)
--------------------------------------------------
avg_low    2
Name: 3, dtype: object

In [29]:
### Slicing Rows (According to Index)
header("Slicing Rows")
print(mydf[2:4]) #Slices 2 to 3

--------------------------------------------------
Slicing Rows
--------------------------------------------------
      ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
2   Mart         1        4          2       6          6       75      5
3  Nisan         1        2          3      45          5        6      1

In [41]:
# Index location .iloc
print(mydf.iloc[3:5,[0,1,2,3]]) #prints indexes 3 to 4 with columns 0-1-2-3

      ay  avg_high  avg_low  recordsmt
3  Nisan         1        2          3
4  Mayis         4        5          6

In [50]:
# Filtering data
header('Filtering first method, prints the values')
print(mydf[mydf.veSon>=5])
header('Filtering second method prints boolean')
print(mydf['veSon']>=5)
header('Filtering third method')
print(mydf[mydf['ay'].isin(['Subat', 'Temmuz'])])

--------------------------------------------------
Filtering first method, prints the values
--------------------------------------------------
       ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
0    Ocak         1        4          5       6          1       32     63
1   Subat         1       23          4       5         67       81     12
2    Mart         1        4          2       6          6       75      5
6  Temmuz         1        4          5      12          3        4      5
9    Ekim         1        4          2       4          5        6      7
--------------------------------------------------
Filtering second method prints boolean
--------------------------------------------------
0      True
1      True
2      True
3     False
4     False
5     False
6      True
7     False
8     False
9      True
10    False
11    False
Name: veSon, dtype: bool
--------------------------------------------------
Filtering third method
--------------------------------------------------
       ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
1   Subat         1       23          4       5         67       81     12
6  Temmuz         1        4          5      12          3        4      5

In [65]:
##Assignment
header('assigning a value 3')
mydf.loc[9,['avg_high']] = 3
print(mydf.iloc[9:11])

header("assigning value NAN")
mydf.loc[9,['avg_high']] = np.nan
print(mydf.iloc[9:11])

header("Changing whole column ")
mydf.loc[:,'avg_low'] = np.array([5]*  len(mydf))
print(mydf.head())

header("Changing one row to avarage value of two different columns")
mydf['kamil2'] = (mydf.avg_low + mydf.avg_high) / 2
print(mydf.head())

--------------------------------------------------
assigning a value 3
--------------------------------------------------
       ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
9    Ekim       3.0        5          2     NaN          5        6      7
10  Kasim       1.0        5          5     3.0          1        2      3
--------------------------------------------------
assigning value NAN
--------------------------------------------------
       ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
9    Ekim       NaN        5          2     NaN          5        6      7
10  Kasim       1.0        5          5     3.0          1        2      3
--------------------------------------------------
Changing whole column
--------------------------------------------------
      ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
0   Ocak       1.0        5          5     3.0          1       32     63
1  Subat       1.0        5          4     3.0         67       81     12
2   Mart       1.0        5          2     3.0          6       75      5
3  Nisan       1.0        5          3     3.0          5        6      1
4  Mayis       4.0        5          6     4.5          1        2      3
--------------------------------------------------
Changing one row to avarage value of two different columns
--------------------------------------------------
      ay  avg_high  avg_low  recordsmt  kamil2  baskaisim  altinci  veSon
0   Ocak       1.0        5          5     3.0          1       32     63
1  Subat       1.0        5          4     3.0         67       81     12
2   Mart       1.0        5          2     3.0          6       75      5
3  Nisan       1.0        5          3     3.0          5        6      1
4  Mayis       4.0        5          6     4.5          1        2      3

In [70]:
### Renaming columns
header("Renaming one column")
mydf.rename(columns = {'recordsmt':'anothername'}, inplace = True ) #youcan get rid off inplace if mydf=mydf.rename()
print(mydf.head())

header("Renaming all columns")
mydf.columns= ["ay","deger1", "deger2", "deger3", "deger4", "deger5", "deger6", "deger7" ]
print(mydf.head())

--------------------------------------------------
Renaming one column
--------------------------------------------------
      ay  deger1  deger2  deger3  deger4  deger5  deger6  deger7
0   Ocak     1.0       5       5     3.0       1      32      63
1  Subat     1.0       5       4     3.0      67      81      12
2   Mart     1.0       5       2     3.0       6      75       5
3  Nisan     1.0       5       3     3.0       5       6       1
4  Mayis     4.0       5       6     4.5       1       2       3
--------------------------------------------------
Renaming all columns
--------------------------------------------------
      ay  deger1  deger2  deger3  deger4  deger5  deger6  deger7
0   Ocak     1.0       5       5     3.0       1      32      63
1  Subat     1.0       5       4     3.0      67      81      12
2   Mart     1.0       5       2     3.0       6      75       5
3  Nisan     1.0       5       3     3.0       5       6       1
4  Mayis     4.0       5       6     4.5       1       2       3

In [72]:
### Iterate a dataframe
for index, row in mydf.iterrows():
    print(index, row["ay"], row["deger1"])

0 Ocak 1.0
1 Subat 1.0
2 Mart 1.0
3 Nisan 1.0
4 Mayis 4.0
5 Haziran 1.0
6 Temmuz 1.0
7 Ağustos 1.0
8 Eylul 1.0
9 Ekim nan
10 Kasim 1.0
11 Aralik 1.0

In [ ]:
### Write to csv file
mydf.to_csv("filename.csv")

In [61]:
### Extra notes
#you can find how many rows there are by:
print(len(mydf))

12